h1{
    font-family: "Josefin Sans",sans-serif; 
    font-size: 40px;
    letter-spacing: 1.2em;
    text-shadow: 1px 2px 3px #808080; 
    border-bottom: solid 3px rgb(115,115,114);
}
.font-test{
    color:skyblue ;
}
.font-test-a{
    color:rgb(255, 192, 203)
} 

    decoration {
        text-shadow: 1px 1px 2px grey;
    }
      
    body{
    font-family: "Arial", "Meiryo", sans-serif;
    font-size: 20px;
    text-align: center;
    }
    .font-test{
        color:skyblue;
    }
    .font-test-a{
        color:rgb(255, 192, 203) ;
    }
    div#basic p{
        font-weight :bold;
    

    }



